<p id="notice"><%= notice %></p>

<p>
  <strong>Rolename:</strong>
  <%= @role_master.rolename %>
</p>

<%= link_to 'Edit', edit_role_master_path(@role_master) %> |
<%= link_to 'Back', role_masters_path %>
